<%
  value         = typeof(value) != undefined ? value : "";
  type          = typeof(type) != undefined ? type : "text";
  placeholder   = typeof(placeholder) != "undefined" ? placeholder : label;
%>

<div class="form-group<%= message ? ' has-' + message.type : '' %>">

  <label class="control-label" for="form_<%=name%>"><%=label%></label>

  <% if (type == "checkbox" || type == "radio") { %>

  <% } %>

  <% if (type == "select") { %>

  <% } %>

  <% if (type == "textarea") { %>

    <textarea class="form-control" name="<%=name%>" placeholder="<%=placeholder%>"><%=value%></textarea>

  <% } %>

  <% if (type == "text" || type == "password" || type == "email") { %>

    <input class="form-control" type="<%=type%>" name="<%=name%>" placeholder="<%=placeholder%>" value="<%=value%>" />

  <% } %>

  <% if (message && message.text) { %>
  <span class='help-block'><%=message.text%></span>
  <% } %>

</div>
