<form id="the_form" method="POST" action="<%=action%>">
  <% if (item && item._id) { %>
  <input type="hidden" name="id" value="<%=item._id%>" />
  <% } %>
  <% for (var i in fields) { %>
    <div class="form-group">
      <label for="form_<%=fields[i].name%>"><%=fields[i].label%></label>
      <% if (fields[i].type == "email") { %>
        <input id="form_<%=fields[i].name%>" class="form-control" type="email" name="<%=fields[i].name%>" placeholder="<%=fields[i].placeholder || fields[i].label%>" value="<%=fields[i].value%>" />
      <% } else if (fields[i].type == "textarea") { %>
        <textarea class="form-control" name="<%=fields[i].name%>" placeholder="<%=fields[i].placeholder || fields[i].label%>"><%=fields[i].value%></textarea>
      <% } else if (fields[i].type == "password") { %>
        <input class="form-control" type="password" name="<%=fields[i].name%>" placeholder="<%=fields[i].placeholder || fields[i].label%>" value="" />
      <% } else { %>
        <input class="form-control" type="text" name="<%=fields[i].name%>" placeholder="<%=fields[i].placeholder || fields[i].label%>" value="<%=fields[i].value%>" />
      <% } %>
    </div>
  <% } %>
  <button type="submit" class="btn btn-primary">Submit</button>
  <a href="<%=cancelButton%>" class="btn btn-default">Cancel</a>
</form>
