<form id="the_form" method="POST" action="<%=deleteButton%>">
  <div style="margin-bottom:5px;">
    <% if (addButton) { %>
      <a href="<%=addButton%>" class="btn btn-primary pull-right">Add</a>
    <% } %>
    <% if (deleteButton) { %>
      <input type="submit" class="btn btn-default" value="Delete Selected" />
    <% } %>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <% if (deleteButton) { %><th></th><% } %>
            <% for (var i in columns) { %>
              <th><%=columns[i].label%></th>
            <% } %>
            <% if (deleteButton || editButton) { %><th>Action</th><% } %>
          </tr>
        </thead>
        <tbody>
          <% for (var i in items) { %>
            <tr>
              <% if (addButton) { %><td><input type="checkbox" name="delete[]" value="<%=items[i]._id%>" /></td><% } %>
              <% for (var j in columns) { %>
                <td><%=items[i][columns[j].name]%></td>
              <% } %>
              <% if (deleteButton || editButton) { %>
                <th>
                  <% if (editButton) { %>
                    <a href="<%=editButton%>?id=<%=items[i]._id%>" class="btn btn-xs btn-primary">Edit</a>
                  <% } %>
                  <% if (deleteButton) { %>
                    <a href="<%=deleteButton%>?id=<%=items[i]._id%>" class="btn btn-xs btn-danger">Delete</a>
                  <% } %>
                </th>
              <% } %>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</form>
